<template>
  <todo-list></todo-list>
</template>

<script>
import TodoList from '~/components/TodoList.vue';

    export default {
        name: "Todo",
        components: { TodoList }
    }
</script>

<style scoped>

</style>
